.project-randomizer-container {
  font-size: 1em;
  text-align: center;
}

.question {
  /* display: block; */
  padding: 10px;
  font-size: 2em;
  background-color: darkslategray;
  color: white;
}

.button {
  position: relative;
  display: block;
  color: white;
  background-color: grey;
  margin: 20px auto;
  font-size: 1.75em;
  border-radius: 5px;
}

.project-container {
  margin: 10px;
  padding: 5px;
}
.project-description {
  font-size: 1.5em;
}

.project-source {
  font-style: italic;
}

/* Link defaults */
a:link,
a:visited {
  text-decoration: none;
  /* color: inherit; */
}

a:hover,
a:active {
  text-decoration: underline;
}

a:link,
a:visited,
a:hover,
a:active {
  color: #1d57ad;
}

.pr-container {
  margin: 5%;
  border: 20px solid rgb(85, 107, 47);
  padding: 6%;
}
