.app-content {
    width: 600px;
    margin: 100px auto 0;
    padding: 40px;
    border: 1px solid grey;
}
.app-content h2 {
    width: 100%;
    text-align: center;
}

.hours {
    display: flex;
    flex: 1;
}

@media (max-width: 650px) {
    .app-content {
        margin: 20px 20px 0;
        width: auto;
    }
}
