body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
   .movie{
    margin-top: 10px;
    margin-bottom:10px;
    border:10px solid black;
    margin-right: 150px;
    margin-left: 10px;
  } 
  
  .container-image{
    height: 420px;
    margin-bottom:10px;
  }
  
  .image{
    height: 100%;
  
  }
  
  .name{
    word-wrap: break-word;
    height: 100px;
  
  }
  
  .input-class{
    height: 34px;
    margin-bottom:10px;
    border-style:solid;
    border-color:black;
    
  }
  
  .outer-div{
    width:600px;
    height:600px;
  }
  
  .button-class{
    margin-top: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 20px;
    margin-left:10px;
    border-style:solid;
    border-color:black;
    height: 34px;

  }
  
  .parent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .input-style{
    text-align:center; 
  }
  
  
  